@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


.inicio {
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url("imagens/8430161.png");
    background-size: cover; /*1540px 740px;*/
    background-blend-mode: multiply;
    height: 739px;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-items: center;
    font-size: 17.5px;
    font-weight: 700;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.nav_ul1 {
   width: 350px;
   gap: 30px;
}

.nav_ul2 {
    display: flex;
    justify-content: center;
    position: relative;
    right: 50px;
}

.nav_ul3 {
    gap: 30px;
}

.navbar button{
    width: 100px;
    height: 30px;
    background-color: #3F7EB1;
    border-radius: 12px;
    border: 0px solid black;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

@keyframes botao-hover {
    0%{background-color: #3F7EB1; color: white;}
    20%{background-color: #3F7EB1; opacity: 40%; color: white;}
    30%{background-color: #3F7EB1; opacity: 5%; color: white;}
    50%{background-color: white; opacity: 20%; color:#3F7EB1;}
    70%{background-color: white; opacity: 50%; color:#3F7EB1;}
    80%{background-color: white; opacity: 80%; color:#3F7EB1;}
    100%{background-color: white; color:#3F7EB1;}
}

@keyframes botao-hover_login {
    0%{background-color: white; color: rgb(231, 12, 12);}
    20%{background-color: white; opacity: 40%; color: rgb(231, 12, 12);}
    30%{background-color: white; opacity: 5%; color: rgb(231, 12, 12);}
    50%{background-color: rgb(231, 12, 12); opacity: 20%; color:white;}
    70%{background-color: rgb(231, 12, 12); opacity: 50%; color:white;}
    80%{background-color: rgb(231, 12, 12); opacity: 80%; color:white;}
    100%{background-color: rgb(231, 12, 12); color:white;}
}

.navbar button:hover {
    animation: botao-hover 0.7s both;
}

@keyframes fundo {
    0%{background: none;}
    10%{background-color: white; color: #3F7EB1; border-radius: 5px; opacity: 10%;}
    20%{background-color: white; color: #3F7EB1; border-radius: 5px; opacity: 20%;}
    30%{background-color: white; color: #3F7EB1; border-radius: 5px; opacity: 30%;}
    40%{background-color: white; color: #3F7EB1; border-radius: 5px; opacity: 40%;}
    50%{background-color: white; color: #3F7EB1; border-radius: 5px; opacity: 50%;}
    60%{background-color: white; color: #3F7EB1; border-radius: 5px; opacity: 60%;}
    70%{background-color: white; color: #3F7EB1; border-radius: 5px; opacity: 70%;}
    80%{background-color: white; color: #3F7EB1; border-radius: 5px; opacity: 80%;}
    90%{background-color: white; color: #3F7EB1; border-radius: 5px; opacity: 90%;}
    100%{background-color: white; color: #3F7EB1; border-radius: 5px;}
}

@keyframes fundo_login {
    0%{background: none;}
    10%{background-color: rgb(231, 12, 12); color: white; border-radius: 5px; opacity: 10%;}
    20%{background-color: rgb(231, 12, 12); color: white; border-radius: 5px; opacity: 20%;}
    30%{background-color: rgb(231, 12, 12); color: white; border-radius: 5px; opacity: 30%;}
    40%{background-color: rgb(231, 12, 12); color: white; border-radius: 5px; opacity: 40%;}
    50%{background-color: rgb(231, 12, 12); color: white; border-radius: 5px; opacity: 50%;}
    60%{background-color: rgb(231, 12, 12); color: white; border-radius: 5px; opacity: 60%;}
    70%{background-color: rgb(231, 12, 12); color: white; border-radius: 5px; opacity: 70%;}
    80%{background-color: rgb(231, 12, 12); color: white; border-radius: 5px; opacity: 80%;}
    90%{background-color: rgb(231, 12, 12); color: white; border-radius: 5px; opacity: 90%;}
    100%{background-color: rgb(231, 12, 12); color: white; border-radius: 5px;}
}

ul a{
    text-decoration: none;
    color: white;
}

ul a:hover {
    animation: fundo 0.4s both;
}

.texto-lateral {
    width: 450px;
    margin-left: 127px;
    margin-top: 30px;
}

.texto-inicial {
    font-size: 25px;
    color: white;
    text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.65);
}

.frase {
    color: white;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
}

.videos {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
}
iframe {
    border-radius: 15px;
}

#body_login{
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url("imagens/godofwariii_01.jpeg");
    background-size: cover;
    background-blend-mode: multiply;
}

.navbar_login {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-items: center;
    font-size: 17.5px;
    font-weight: 700;
}

.navbar_login ul {
    display: flex;
    list-style: none;
}

.navbar_login button{
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 12px;
    border: 0px solid black;
    color: rgb(231, 12, 12);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

.navbar_login button:hover {
    animation: botao-hover_login 0.7s both;
}

.navbar_login ul a{
    text-decoration: none;
    color: white;
}

.navbar_login ul a:hover {
    animation: fundo_login 0.4s both;
}

#section_login {
    display: flex;
    justify-content: center;
}

.div_login{
    background-color: black;
    height: 600px;
    width: 1000px;
    border-radius: 30px;
    background-image: url("imagens/thumb-1920-9253291.jpg");
    background-size: 500px 600px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
}

#div_form1 {
    width: 50%;
}


#div_form2 {
    background-image: url("imagens/blood-png-transparent-background-2-700x505.png");
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    width: 50%;
}


#div_form2 input {
    height: 20px;
    width: 250px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 0px solid black;
}

#div_form2 h1 {
    color: rgb(205, 180, 18);
    margin-bottom: 40px;
    text-align: center;
    font-family: 'GodOfWar', sans-serif;
}

#div_form2 h2 {
    color: #97a4af;
    font-family: 'GodOfWar', sans-serif;
}

#div_form2 button {
    width: 110px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    border: 0px solid #97a4af;
    color: rgb(231, 12, 12);
    cursor: pointer;
    font-size: 19px;
    font-family: 'GodOfWar', sans-serif;
    font-weight: 700;
}

#div_form2 button:hover {
    animation: fundo_login 0.3s both;
}

#div_form2 a{
    color: rgb(205, 180, 18);
    text-decoration: none;
    font-size: 12px;
}

#div_form2 a:hover {
    color: rgb(231, 12, 12);
    border-bottom: 1px solid rgb(231, 12, 12);
}

#sem_cadastro {
    margin-top: 10px;
}

#body_cadastro {
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url("imagens/God-of-War-5.jpg");
    background-size: cover;
    background-blend-mode: multiply;
}

#section_cadastro {
    background-image: url("imagens/pergaminho.png");
    background-size: 700px 650px;
    background-position: center;
    height: 600px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.div_input {
    font-size: 15px;
    color:#3F7EB1;
}

.div_input input {
    height: 18px;
    width: 210px;
    border-radius: 5px;
    border: 0px solid black;
}

.div_input span {
    color: red;
    font-weight: normal;
}

.div_cadastrar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div_cadastrar button {
    width: 110px;
    height: 40px;
    background-color: #3F7EB1;
    border-radius: 5px;
    border: 0px solid #97a4af;
    color: white;
    cursor: pointer;
    font-size: 19px;
    font-weight: 700;
}

.div_cadastrar button:hover {
    animation: fundo 0.3s both;
}

.div_cadastrar a {
    text-decoration: none;
    font-size: 12px;
    margin-top: 10px;
    color: #3F7EB1;
    font-weight: 600;
}

.div_cadastrar a:hover {
    color: white;
    border-bottom: 1px solid white;
}

.div_input .obrigatorio {
    color: black;
    margin-top: 10px;
}

.ajustar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_quiz {
    display: flex;
    justify-content: center;
}

.div_questao {
    display: none;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 60px;
    margin-bottom: 50px;
    font-weight: 600;
}

.div_questoes {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    flex-direction: column;
    width: 750px;
    height: 600px;
    border-radius: 30px;
    border: 2px solid #3F7EB1;
}

.div_questoes h1 {
    color: white;
    position: relative;
    bottom: 80px;
}

#div_questao1 {
    display: flex;      
}

#div_questao2 {
    display: none;
}

#div_questao3 {
    display: none;
}

#div_questao4 {
    display: none;
}

#div_questao5 {
    display: none;
}

#div_erro {
    color: red;
    margin-top: 20px;
    text-align: center;
    display: none;
}

.pergunta {
    text-align: center;
}

#body_quiz {
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url('imagens/god-of-war.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.div_botoes {
    gap: 30px;
    display: flex;
}

.botoes_quiz {
    width: 110px;
    height: 40px;
    background-color: #3F7EB1;
    border-radius: 5px;
    border: 0px solid #97a4af;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
